<form #form="ngForm" autocomplete="off" *ngIf="">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Razon Social</label>
        <input name="razonSocial" class="form-control" />
      </div>
      <div class="form-group">
        <label>Descripcion</label>
        <input name="descripcion" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Cuil</label>
        <input name="cuil" class="form-control" />
      </div>
    </div>
   </div>
</form>

<h1 id="tableLabel">Listado de Empresas</h1>
<p *ngIf="!empresas"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="empresas">
  <thead>
    <tr>
      <th>Razon Social</th>
      <th>Descripcion</th>
      <th>Cuil</th>
      <th>Eliminado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresas">
      <td>{{ empresa.razonSocial }}</td>
      <td>{{ empresa.descripcion }}</td>
      <td>{{ empresa.cuil }}</td>
      <td>{{ empresa.eliminado }}</td>
    </tr>
  </tbody>
</table>
